@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --text-color: #808080;
    --text-color-blue: #9da1ab;
    --text-color-hover: #5b5b5b;
    --text-color-light: #9A9999;
    --text-color-light-light: #bebdbd;
    --text-color-dark: #636060;

    --background-color-darker: #8589a9;
    --background-color-dark-2: #a5aac7;
    --background-color-dark-1: #c1c7dc;
    --background-color: #E2E5F4;
    --background-color-light: #eeeffb;
    --background-color--1: #d4d7e8;
    --background-color--2: #c1c3dc;

    --background-color-active-button: #F6F7FC;

    --button-background-color: #0FB8CF;

    --border-bottom: #cdcfdc;

    --hr:#bbbdca;


    --text-size-sm: 0.85rem;
}
*{
    font-family: Inter;
}
body{
    color: var(--text-color);
    background: var(--background-color);
    font-family: Inter;
}

button{
    background: 0;
    color: var(--text-size-sm);
    border: 0;
}
.button{
    font-family: "Inter";
    color: white;
    background-color: var(--button-background-color);
    border-radius: 10px;

    padding: 4px 16px;
    /*border: 1px solid */
}
.button-wide{
    padding: 6px 30px;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
.clear-input{
    all: unset;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background-color);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: var(--background-color);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
    background-color: var(--background-color);
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
    background-color: var(--background-color);
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
    background-color: var(--background-color);
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-color-dark-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background-color-darker);
}

.main-header{
    height: auto;
    position: sticky;

    margin-bottom: 50px;
}
.top-header{
    background: var(--background-color);

    padding-top: 1.5%;
    padding-bottom: 1.5%;
}



.header-animated::before{
    content: '';
    position: absolute;
    /*top: -100px;*/
    left: -2px;

    background: linear-gradient(110deg, #ffd596 0%, #a9ffdf 25%, #ffd596 50%, #a9ffdf 75%, #ffd596 100%);
    background-size: 400%;

    width: 100%;
    height: 120px;
    z-index: -3;
    filter: blur(45px);
    animation: animate-gradient 30s linear infinite;
}
.header-animated>div::before{
    content: '';
    position: absolute;
    left: -2px;

    background: rgba(255, 255, 255, 0.7);
    background-size: 400%;

    width: 100%;
    height: 90px;
    z-index: -2;
    filter: blur(20px);
}
@keyframes animate-gradient{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.search-buttons{
    width: 90%;

    /* border:1px solid var(--text-color); */
    box-shadow: 6px 9px 14px 0px rgba(0, 0, 0, 0.17), -6px -4px 15px 1px rgb(255, 255, 255);

    font-size: var(--text-size-sm);

}

.logo{
    transform: scale(0.85);
}


.button-when{
    padding: 0.75% 0;
    padding-top: 1.1%;
    font-family: Inter;
    font-weight: 500;
    transition: 0.5s ease;
}
.button-when:hover{
    background-color: var(--background-color-light);

    /*background-color: #F6F7FC; // натиснутий стан*/
    /*box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset; // натиснутий стан */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.button-when:focus{
    background-color: var(--background-color-active-button);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-where{
    padding: 0.75% 0;
    padding-top: 1.1%;
    font-family: Inter;
    font-weight: 500;

    transition: 0.5s ease;
}
.button-where:hover{
    background-color: var(--background-color-light);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.button-where:focus{
    background-color: var(--background-color-active-button);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
*:focus-visible{
    outline: 0;
}

.header-offer{
    font-size:var(--text-size-sm);
    padding-top: 4px;
    transition: 0.3s ease;

    font-family: Inter;
    font-weight: 400;
}
.header-offer:hover{
    color: var(--text-color-hover);
}
.language-globe:hover{
    color: var(--text-color-hover);
}
.button-languages{
    font-weight: 400;

    transition: 0.1s ease;
}
.button-languages:hover{
    color: var(--text-color-hover);
}

.corner-menu{
    font-size: var(--text-size-sm);
    box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.17), -6px -4px 15px rgba(255, 255, 255, 0.90);

    transition: 0.5s ease;
    cursor: pointer;
}
.corner-menu>div{
    transition: 0.5s ease;
}
.corner-menu:hover>div{
    background-color: var(--background-color-active-button);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset;
}

.header-menu{
    list-style-type: none;

    position: absolute;
    display: none;
    z-index: 50;

    margin-top: 352px;
    margin-left: 7%;
    padding: 1.1% 0;

    border-radius: 15px;
    background: var(--background-color);
    /*box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/

    filter: drop-shadow(-9px -6px 13px rgba(255, 255, 255,0.9)) drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.25))
}
.header-menu>li{
    padding: 1% 65px 1% 25px;
    transition: 0.3s ease;

    cursor: pointer;
}
.header-menu>hr{
    margin: 5px 0;
    color: var(--text-color);
}
.header-menu>li:hover{
    background: var(--background-color--1);
}
.header-menu-main-item{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}
.header-menu-secondary-item{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.header-menu-hr-item{
    width: 100%;
}

.header-categories{
    margin-top: 1%;
    padding: 0 10px;
}

.scroll-container {
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    /* width: max-content; */
    overflow: hidden;
}
.nav-scroller__items{
    margin-left: 1rem;
    gap: 1rem;

    width: 80%;
}
.nav-scroller__item {
    color: var(--text-color);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-category{
    width: 4rem;
    height: 4rem;

    display: flex;
    padding: 1rem;
    text-decoration: none;

    border-radius: 13px;
    border: 4px solid var(--background-color);
    background: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px -2px, rgba(255, 255, 255, 0.9) -0.5px -0.5px 15px 2px;

    margin: 15px;
    transition: 0.3s ease
}
.item-category>img{
    width: 35px;
}

@media (max-width: 600px) {
    .item-category{
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 1200px) {
    .item-category{
        width: 3.2rem;
        height: 3.2rem;
    }
}

.item-category:not(.item-category-active>a):hover{
    transform: scale(1.11);
}

.item-category-active{
    font-weight: 800;
}
.item-category-active>a {

    border-radius: 15px;
    border:0;
    background: linear-gradient(180deg, #FFF 0%, rgba(243, 245, 255, 0.00) 100%);
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.30) inset;
}


.nav-scroller__items::-webkit-scrollbar {
    display: none;
}


.scroll-button {
    position:relative;
    top: 3px;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: 0;

    opacity: 0.7;

    color: var(--text-color);
}
/* .scroll-button:after{
    content: '';
    position: absolute;
    top: -42px;
    background: var(--background-color);

    width: 100%;
    height: 330%;
    filter: blur(7px);
} */

.scroll-button-left{
    margin-top: -15px;
    margin-left: 25px;


    padding: 3px 3px 3px 2px;

    border-radius: 100%;

    transition: 0.3s ease;
}
.scroll-button-left:hover{
    transform: scale(1.05);
    color: var(--text-color-dark);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px -2px, rgba(255, 255, 255, 0.9) -0.5px -0.5px 15px 2px;
}

.scroll-button-right{
    margin-top: -15px;
    margin-left: 15px;
    margin-right: 25px;

    padding: 3px 2px 3px 3px;

    border-radius: 100%;

    transition: 0.3s ease;
}
.scroll-button-right:hover{
    transform: scale(1.05);
    color: var(--text-color-dark);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px -2px, rgba(255, 255, 255, 0.9) -0.5px -0.5px 15px 2px;
}
.header-filters{
    margin-top: -15px;

    border-radius: 15px;
    background: var(--background-color);
    box-shadow: 3px 3px 17px 2px rgba(0, 0, 0, 0.17), -6px -4px 15px 2px rgba(255, 255, 255, 0.90);

    padding: 0.4% 0;

    transition: 0.3s ease;
}
.header-filters:hover{
    transform: scale(1.05);
    color: var(--text-color-dark);
}
main{
    padding: 0 5% 3% 5%;
}
.listings{
    gap: 3rem;
}
.listing-block{
    font-family: Inter;
    font-size: 14px;
}
.listing-img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;

    border-radius: 15px;
    border: 7px solid var(--background-color);
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.40), -8px -7px 25px 4px #FFF;
}

.listing-like{
    position: absolute;
    margin-top: -18.5%;
    margin-left: 16%;

}
/*@media (max-width: 2000px) {*/
/*    .listing-img{*/
/*        width: 26rem;*/
/*        height: 26rem;*/
/*    }*/
/*}*/
/*@media (max-width: 1920px) {*/
/*    .listing-img{*/
/*        width: 24rem;*/
/*        height: 24rem;*/
/*    }*/
/*}*/
/*@media (max-width: 1885px) {*/
/*    .listing-img{*/
/*        width: 24;*/
/*        height: 24rem;*/
/*    }*/
/*}*/
/*@media (max-width: 1800px) {*/
/*    .listing-img{*/
/*        width: 23.5rem;*/
/*        height: 23.5rem;*/
/*    }*/

/*}*/
/*@media (max-width: 1750px) {*/
/*    .listing-img{*/
/*        width: 20.4rem;*/
/*        height: 20.4rem;*/
/*    }*/


/*}*/
/*@media (max-width: 1600px) {*/
/*    .listing-img{*/
/*        width: 19.7rem;*/
/*        height: 19.7rem;*/
/*    }*/

/*}*/
/*@media (max-width: 1553px) {*/
/*    .listing-img{*/
/*        width: 19rem;*/
/*        height: 19rem;*/
/*    }*/
/*}*/
/*@media (max-width: 1538px) {*/
/*    .listing-img{*/
/*        width: 18.2rem;*/
/*        height: 18.2rem;*/
/*    }*/
/*}*/
/*@media (max-width: 1478px) {*/
/*    .listing-img{*/
/*        width: 15.7rem;*/
/*        height: 15.7rem;*/
/*    }*/
/*    .listing-like{*/
/*        position: absolute;*/
/*        margin-top: -17.5%;*/
/*        margin-left: 15%;*/
/*    }*/
/*}*/
.listing-like>button>svg>path.fill{
    transition: 0.3s ease;

}
.listing-like:hover>button>svg>path.fill{
    opacity: 1;
}
.listing-localization{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color-dark);
}
.listing-category{
    color: var(--text-color-light);
    font-size: 13px;
    font-weight: 400;
}
.listing-date{
    color: var(--text-color-light);
    font-size: 13px;
    font-weight: 400;
}

.listing-price-block{
    margin-top: 3px;
    color: var(--text-color-light);
    font-size: 14px;
    font-weight: 400;
}
.listing-price{
    line-height: 30px;
    color: var(--text-color-dark);
    font-weight: 500;
    font-size: 14px;
}
.open_map-block{
    position: fixed;
    left: 0;
    bottom: 12%;

    width: 100%;
}
.open_map{
    padding: 8px 17px;
    border-radius: 15px;
    background: var(--background-color);
    box-shadow: 3px 3px 17px 2px rgba(0, 0, 0, 0.17), -6px -4px 15px 2px rgba(255, 255, 255, 0.30);

    transition: 0.3s ease;
}
.open_map:hover{
    transform: scale(1.06);
}

.footer{
    background-color: var(--background-color);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    color: var(--text-color);

    padding: 12px 7%;

    font-size: 15px;
    font-family: "Inter";
}
.footer>.row>.col>div>div>button:hover {
    text-decoration: underline;
}
.footer-right-side>div>button{
    color: var(--text-color-dark);
    font-weight: 500;
}  .modal-header, .modal-body{
    background-color: var(--background-color);
}


.modal{
    font-family: "Inter";
}
.modal-title{
    font-weight: 600;
    color:var(--text-color);
}
.modal-header{
    color: var(--text-color);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    border-bottom: 2px solid var(--border-bottom);
}
.modal-body{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    height: 500px;
    overflow-y: scroll;
}
.modal-footer{
    background-color: var(--background-color);
    border-top: 2px solid var(--border-bottom);
}
.modal-dialog-window{
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.40), -4px -4px 20px 0px #FFF;
    border-radius: 15px;

    padding: 0;

    transition: 0.3s ease;
}
.modal-dialog-window:hover{
    background-color: var(--background-color--2);
}
.modal-dialog-window>a>div{
    padding: 12px 40px 12px 15px;
}
.modal-dialog-window-header{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: -30px;
}
.modal-dialog-window-under_header{
    font-size: 17px;
    font-weight:300;
}
.filters-input{
    display: block;
    width: 100%;
    padding: 1rem 1rem;

    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;

    font-size: 1rem;
    font-weight: 400;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 0;
    border-radius: 15px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25), -4px -4px 15px 0px rgba(255, 255, 255, 0.85), 2px 2px 4px 0px rgba(255, 255, 255, 0.85) inset;
}
.filters-input:focus-visible{
    outline:0;
}
.filters-blocks{
    column-gap: 1.5rem;
}
.filters-blocks>div{
    border-radius: 12px;
    background: #E2E5F4;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25), -2px -1px 10px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(255, 255, 255, 0.80) inset;


    width: 6%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -10px;

    transition: 0.3s ease;
}
.filters-blocks>div:hover{
    transform: scale(1.05);
}
.filters-blocks>.active{
    background-color: var(--background-color-active-button);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset;
}
.active{
    background-color: var(--background-color-active-button);
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.20) inset, -1px -0.5px 4px 0px rgba(0, 0, 0, 0.20) inset;
}
.filters-property_type-blocks{
    column-gap: 1.5rem;
    margin-top: 10px;
}
.filters-property_type-blocks>button{
    border-radius: 12px;
    background: #E2E5F4;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25), -4px -4px 10px 0px rgba(255, 255, 255, 0.75), 1px 1px 3px 0px rgba(255, 255, 255, 0.80) inset;


    padding: 15px 20px;
    width: 32%;
    height: 120px;
}
.filters-property_type-blocks>button>img{
    color: var(--text-color);
    width: 50px;
    height: 50px;
}
.filters-checkboxes-blocks{
    column-gap: 1.5rem;
    height: 185px;
    overflow: hidden;
}
.filters-checkboxes-after-button>button{
    color: var(--text-color);
    text-decoration: underline;
    transition: 0.2s ease;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;

    display: inline-block;
}
.filters-checkboxes-after-button>div:hover{
    color: var(--text-color-dark);
}
.filters-checkboxes-header-text{
    font-weight: 400;
    font-size: 19px;
    margin-top: 10px;
}
.filters-checkbox-blocks>div{
    width: 50%;
    font-size: 18px;
    margin-top: 10px;
}
.filters-checkbox-blocks>button>input:checked{
    background-color: var(--background-color);
    color: var(--text-color);
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 46px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.20), -3px -3px 10px -1px rgba(255, 255, 255,0.70), 1px 1px 4px 0px rgba(255, 255, 255, 0.85) inset;

    border-radius: 5px;
    transition: 0.3s ease;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: var(--background-color--1);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.20), -3px -3px 10px -1px rgba(255, 255, 255,0.70);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: var(--background-color--2);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.20), -3px -3px 10px -1px rgba(255, 255, 255,0.70);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 11px;
    top: 7px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.text-welcome_your_guests>a{
    font-weight: 500;
    color: black;
}
.start-large-img{
    width: 75%;
    height: 500px;

    border-radius: 25px;
    border: 6px solid var(--background-color);
    box-shadow: 7px 7px 17px 0px rgba(0, 0, 0, 0.17), -7px -7px 20px 0px rgba(255, 255, 255, 1);
}
.start-large-img>img{
    width: 100%;
    height: 100%;
    border-radius: 25px;

    object-fit: cover;
}

.start-large-block{
    position: absolute;
    width: 410px;

    margin: -428px 0 0 0;
    padding: 1% 1.5%;

    border-radius: 15px;
    border: 7px solid  var(--background-color);
    background:  var(--background-color);
    box-shadow: 7px 7px 17px 0px rgba(0, 0, 0, 0.20), -7px -7px 20px 0px rgba(255, 255, 255, 1);
}
.start-table-block{
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    background: var(--background-color);
    box-shadow: 7px 7px 17px 0px rgba(0, 0, 0, 0.17), -7px -7px 20px 0px rgba(255, 255, 255, 1);
}
.start-table-label{
    padding: 10px 20px;

    font-weight:500;
}
.start-table-input{
    font-weight: 300;
    font-size: 15px;
}
.start-listings{
    width: 100%;
}
.start-listing{
    width: 33%;
}
.start-listing-img{
    width: 100%;
    height: 22rem;
}
.start-listing-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: " ";


    border-radius: 15px;
    border: 7px solid var(--background-color);
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.40), -5px -5px 25px 4px #FFF;
}
.start-listing-header{
    font-size: 16px;
    font-weight: 500;
}
.start-listing-header-title{
    width: 305%;
}
.start-listing-description{
    font-size: 14px;
    font-weight: 300;
    height: 228px;
    overflow: hidden;
}

.start-listing-price{
    font-size: 16px;
}

.start-amenities-block{
    width: 18%;
    padding: 1.2% 2% 1.2% 1.1%;

    border-radius: 15px;
    /*border: 4px solid #D6D9EB;*/
    background: var(--background-color);
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.20), -8px -7px 25px 4px #FFF;
}
.start-amenities-block>div>img{
    width: 35px;
}
.start-amenities-text{
    margin-top: 5px;
    font-weight: 500;
}
.auth-languages-block{
    position: absolute;
    bottom: 2%;
    right: 5%;
}
.auth-language-block{

}
.auth-language{
    background-color: var(--background-color);
    box-shadow: 4px 4px 12px -4px rgba(0, 0, 0, 0.40), -4px -4px 20px 0px #FFF;
    padding: 4px 12px;
    border-radius: 10px;

    color: var(--text-color);
    float: right;
}
.auth-languages{
    background-color: var(--background-color);
    margin-top: 10px;
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.40), -4px -4px 20px 0px #FFF;
}
.auth-languages>li{
    width: 100%;
    padding: 4px 12px;
    border-radius: 10px;

    transition: 0.3s ease;
}
.auth-languages>li:hover{
     background-color: var(--background-color--1);
}
.auth-block{
    box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.40), -3px -3px 20px -2px #FFF;
    background-color: var(--background-color);

    padding: 1.6% 3%;
}

@media (min-width: 640px) {
    .auth-block {
        max-width: 32rem;
    }
}

.auth-label{
    color: var(--text-color);
    font-family: "Inter";
}

.tm-header-animated{
    /*width: 100%;*/
    position: absolute;
    top: -95%;
    /*left: -2px;*/

    background: linear-gradient(110deg, #ffd596 0%, #a9ffdf 25%, #ffd596 50%, #a9ffdf 75%, #ffd596 99%);
    background-size: 400%;

    width: 100%;
    height: 100%;

    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1;*/
    filter: blur(50px);
    animation: animate-gradient 30s linear infinite;
}


.password_eyes{
    display: flex;
    justify-content: flex-end;
}
.eye_open{
    margin-top: -40px;
    margin-right: 15px;
    color: var(--background-color-dark-2);
    background-color: transparent;
    z-index: 2;
}
.eye_close{
    margin-top: -40px;
    margin-right: 15px;
    background-color: transparent;
    color: var(--background-color-darker);
    z-index: 2;
}
/*.eye_open:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    display: flex;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    filter: blur(15px);*/
/*    margin-top: 2px;*/
/*    margin-left: 1px;*/
/*    background-color: #4b90ff;*/
/*    z-index: 1;*/
/*}*/


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-container{
    background-color: var(--background-color--1);

    padding: 2% 10%;
    margin-bottom: 2%;
}
.row-likes{
    display: flex;
    flex-wrap: wrap;


    margin-right: 30px;
    padding-right: 5px;
}
.footer-likes{
    width: 25%;
    padding: 0;
    font-size: 10px;

}
.footer-likes>ul{
    margin: 0; padding: 0;
}
.footer-likes>ul>li{
    margin: 5px 0;
}
.p-likes{

    display: inline-block;
    margin-right: 10px;
}
.text-favorite{
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 1%;

    font-size: 30px;
    font-weight: 600;
}
.account-block{
    width: 30%;
    margin: 1%;

    background: #E2E5F4;
    border: 7px solid #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
    float: left;
}
.text-account{
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 1%;

    font-size: 20px;

    font-weight: bold;
}
.div-account{

    margin-left: 11%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;

}
.p-account{
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 1%;

    font-size: 30px;
    font-weight: 600;
}

.account-text{
    font-size: 15px;

    font-weight: bold;
}
.footer-upper{
    font-size: 20px;
    font-weight: bold;
}
.div-count{
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: center;
}
.text{
margin-left: 6%;
font-size: 12px;
}




.house_type_text{
    text-align: center;
    font-size: 36px;

    font-style: normal;
}
.house_container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
}
.house_block{
    /* Rectangle 23 */

    width: 30%;
    margin: 1%;

    background: #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.7);
    border-radius: 15px;
   float: left;
}
.button_house{
    margin-left: 900px;
    margin-top: 3%;
    width: 280px;
    height: 55px;
    background: #0FB8CF;
    box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.75), 4px 4px 17px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
}
.image_type_house{
    margin-top:20px;
    margin-left: 20px;
}
.text_house{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-left: 20px;
    margin-top: 23px;
    color: #8B8B8B;
}
.message-counter{

    display: flex;
  width: 80%;

   margin: 0 auto;

}
.mess-block-left{
    float: left;
}
.mess-block-right{
    float: right;



}
.messages-block{
    /* пом1 */

    /* Rectangle 23 */
    width: 630px;
    background: #E2E5F4;
    border: 7px solid #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
    margin: 2%;


}
.message-text{
    /* Розмістіть свій будинок, готель або інше помешкання на Look’ in та заробляйте. */



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1%;
    color: #8B8B8B;


}
.message-block-right{
    background: #E2E5F4;
    border: 7px solid #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
     margin-left: 100px;
    margin-top: 10px;
    width: 300px;
    height: 380px;

}
.message-text-left{
    font-size: 24px;
    font-weight: bold;
     margin-left: 5%;
}
.message-text-right{
    font-size: 24px;
    font-weight: bold;
    margin-left: 37%;
}
