
.select_adress{
    width: 50%;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 1%;
    background: linear-gradient(180deg, #F8F8FA 0%, rgba(226, 229, 244, 0.37) 100%);
    box-shadow: 1.5px 1.5px 4px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px; border: 1px solid;
    display: flex;


}
.sel_location{
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-top: 1%;
    width: 100%;

    color: var(--text-color);
}
.sel_location *{
    font-size: 16px;
}
.text_chouse{
    margin-bottom: 10px;
}
.location_container{
    margin-left: 17%;
    margin-top: 7%;
    height: 80%;
}
.adres_bloks{
    width: 45%;
    height: 80px;

    background: #E2E5F4;
    border: 7px solid #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    padding-left: 2%;
    padding-top: 1%;
    margin-top: 2%;
}
.select_location{
    border: none;
    background-color: transparent;
    margin-left: 20%;
    font-size: 16px;
    margin-bottom: 4%;
}
.text_adress{
    color: #8B8B8B;
    font-size:25px;
    margin-left: 40px;
    font-weight: bold;



}
.text_information{
    color: var(--text-color);
    font-size: 20px;
}
.counter_info{

    width: 70%;
    margin-top: 3%;
    padding: 0.3% 2%;
    background: linear-gradient(180deg, #F8F8FA 0%, rgba(226, 229, 244, 0.37) 100%);
    box-shadow: 1.5px 1.5px 4px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px; border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.personal_block{
    display: block;
    background: #E2E5F4;
    /*box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.15);*/
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);

    border-radius: 15px;
    border: 7px #E2E5F4 solid;
    margin-bottom: 4%;
    padding: 1% 4% 0 2%;
    width: 100%;


}
.personal_text_header{
    color: #8B8B8B;
    font-size: 22px;
    padding-top: 1%;
    font-weight: 600;
    word-wrap: break-word;


}
.personal_text_description{
    color: #6B6B6B;
    font-size: 18px;

    font-weight: 300;
    word-wrap: break-word;
    width: 100%;
    padding-top: 1%;
    margin-bottom: 0.5%;
}
.personal_div{
    background: linear-gradient(180deg, #F8F8FA 0%, rgba(226, 229, 244, 0.37) 100%);
    /*box-shadow: 1.5px 1.5px 4px 2px rgba(136, 136, 136, 0.25) inset;*/
    box-shadow: 1.5px 1.5px 4px 2px rgba(128, 128, 128, 0.25) inset;
    /*box-shadow: 1.5px 1.5px 4px 2px rgba(169, 169, 169, 0.25) inset;*/
    /*box-shadow: 1.5px 1.5px 4px 2px rgba(192, 192, 192, 0.25) inset;*/
    /*box-shadow: 1.5px 1.5px 4px 2px rgba(211, 211, 211, 0.25) inset;*/
    border-radius: 15px;
    border: 1px ;
    margin-top: 1%;

    width: 100%;
}
.input_text{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-weight: 300;
    padding-top: 0.8%;
    padding-left: 1.5%;
    padding-bottom: 0.8%;
    font-size: 18px;
    color: var(--text-color);
    overflow: hidden;
}
.input_text::placeholder {
    color: var(--text-color-light);
    opacity: 1; /* Firefox */
}
.div_button{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7%;
    margin-bottom: 1.5%;
}
.button_right{
    background: #0FB8CF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-size: 21px;
    padding: 8px 55px;
}
.div_button_right{

}
.input_adress{
    all: unset;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.personal_divs{
    background: linear-gradient(180deg, #E2E5F4 0%, rgba(226, 229, 244, 0.37) 100%);
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;

    margin-top: 2%;

    width: 100%;
}
.verification_container{
    width: 35%;

    margin: 0 auto;

}
.div_information{
  background: #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;

    width: 100%;

    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.retangle_div {
    width: 120px;
    height: 120px;
    background: #B8BEDB;
    box-shadow: 1.5px 1.5px 3px rgba(255, 255, 255, 0.85) inset;
    border-radius: 9999px;
    margin: 0 auto;

}
.text_reg{
    color: #6B6B6B;
    font-size: 80px;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}
.text_info{
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
     margin-top: 1%;
}
.text_info1{
    color: #A5A4A4;
    font-size: 14px;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;

}
.informati{
    background: #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.9);
    border-radius: 10px;
     width: 70%;
     margin:0 auto;
}
.button_verification{
    text-align: center;
    color: white;
    font-size: 14px;
     font-weight: 700;
    word-wrap: break-word;
    background: #0FB8CF;
    width: 70%;
    border-radius: 15px;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto;

}
.retangle_div1 {
    width: 180px;
    height: 180px;
    background: var(--background-color--2);
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    margin: 0 auto;


}
.photo_profils{
    width: 170px;
    height: 170px;
    border-radius: 9999px;
}
.button_profils{
    background: #0FB8CF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-size: 24px;
    padding: 8px 55px;
    margin-top: 4%;
    margin-bottom: 2%;

}
.div_languages{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, rgba(226, 229, 244, 0) 100%);
    box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.17) inset;
    border-radius: 15px;
    margin-top: 5%;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 15px;


}
.languages_text{
    text-align: center;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 400;
}
.louhut_left{
    display: flex;
    float: left;
    width: 25%;
    margin: 1%;
}
.counter_leng{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.div_counter{
    border-radius: 15px;
    border: 1px #6B6B6B solid;
    width: 80%;
    height: 400px;
   padding-top: 2%;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 20px;
    overflow: auto;
    max-height: 400px

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.custom_checkbox{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background:   var(--background-color);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.20), -3px -3px 10px -2px rgba(255, 255, 255,0.70);
    border-radius: 12px;
    vertical-align: sub;
    margin-right: 15px;
    transition: 0.3s ease;

}
.real_checkbox{
width: 0;
    height: 0;
    position: absolute;
    z-index: -1;

}
.custom_checkbox::before{
    /*content: ' ';*/
    /*display: inline-block;*/
    /*background-image: url('./Checkmark.png');*/
    /*background-size: contain;*/
    /*background-repeat:no-repeat;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*transform: translate(-50%,-50%)scale(0);*/
    /*position: absolute;*/
    /*margin-left: 25px;*/
    /*margin-top: 25px;*/
    background-size: contain;
    background-repeat:no-repeat;
    display: inline-block;
    content: ' ';
    position: absolute;

    left: 18px;top: 7px;
    width: 13px;height:30px;
    border: solid white;border-width: 0 5px 5px 0;

    transform: rotate(45deg)scale(0);
}

.real_checkbox:checked + .custom_checkbox::before{
    transform:rotate(45deg)scale(1);

}
.real_checkbox:checked+.custom_checkbox{
    background-color: var( --background-color--2);
}
.custom_checkbox:hover{
    background-color: var( --background-color--1);
}
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;

}
.check_form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.check_form label {
    flex: 1 40%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 1%;
    padding-right: 1%;

}
.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.button_back{
    /* Назад */

   color:var(--button-background-color);
    font-size: 21px;
    margin-left: 2%;
    font-weight: 600;
    text-decoration: underline;


}
.house_photo_container{
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 3%;
}
.house_price_container{
    width: 100%;

    margin-top: 3%;
}
.div_photo_house{
    width: 82%;
    margin-top: 3%;
    background:   var(--background-color);
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 17px 2px rgba(0, 0, 0, 0.17);
    border-radius: 15px;


}
.buuton_photo_house{

    margin-left: 40%;
    margin-top: 3%;


}
.text_photo{
   text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 3%;
}
textarea{
    margin: 0;
    padding: 0;

    /* Сброс границы */
    border: none;

    /* Сброс фона */
    background: none;

    /* Сброс шрифта */
    font-family: inherit;
    font-size: inherit;

    /* Сброс выравнивания текста */
    text-align: inherit;

    /* Сброс межстрочного интервала */
    line-height: inherit;

    /* Сброс переполнения */
    overflow: auto;

    /* Убрать изменение размера */
    resize: none;

    /* Убрать фокусную рамку */
    outline: none;
    width: 100%;
    height: 100%;
}
.first_counter{
    display: inline-block;
    flex-direction: column;

}
.div_first{
    background: #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;

    width: 100%;
    margin-top: 3%;

}
.radiobutton{
display: none;
}
.radioFace{
display: inline-block;
    width: 50px;
    height: 50px;
position: relative;
    margin-left: 3%;
    border-radius: 50%;
    background: linear-gradient(180deg, #F9F9FB 0%, rgba(249.69, 249.69, 249.69, 0) 100%);
    box-shadow: 1.5px 1.5px 4px 2px rgba(0, 0, 0, 0.25) inset;

}
.lable_radio{
    display: flex;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 5%;
}
.radio_text{
    width: 100%;

    margin-left: 20px;
    margin-bottom: 10px;

    padding-right: 20px;

}
.radioFace::before{
    background: #E2E5F4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: block;
    content: " ";
    /*margin-bottom: 5px;*/
    /*margin-right: 2px;*/
    opacity: 0;
      transform: translate(-10%,-1%);
   padding-left: 10%;
}
.radiobutton:checked + .radioFace::before{
    opacity: 1;
}
.price{
    width: 200px;
margin-top: -20px;

  /*margin-left: 30%;*/
    text-align: center;
    font-size: 135px;
    font-weight: 600;
}
.price_input{
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: left;
}
.price_container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.div_price{
    background: #E2E5F4;
    box-shadow: -6px -4px 20px 2px rgba(255, 255, 255, 0.85), 3px 3px 15px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    width: 85%;
}
.text_price{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 18px;


}
